<div class="span3">
    <div class="well">
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-shopping-cart"></i>
                3 articles - 54,27 €
                <b class="caret"></b></a>
            </a>
            <div class="dropdown-menu well" role="menu" aria-labelledby="dLabel">
                <p>AS A SLAP x 1 <span class="pull-right">20,00 €</span></p>
                <p>DOE EYED x 1 <span class="pull-right">20,00 €</span></p>
                <p>DOG’NAMITE x 1 <span class="pull-right">35,00 €</span></p>
                <a href="panier" class="btn btn-primary">Mon Panier</a>
            </div>
        </div>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="mon-compte">Mes informations</a>
            </li>
            <li>
                <a href="factures">Mes factures</a>
            </li>
            <li>
                <a href="adresses">Mes adresses</a>
            </li>
            <li>
                <a href="#">deconnexion</a>
            </li>
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Nos produits</li>
            <li class="active">
                <a href="index">Légumes</a>
            </li>
            <li>
                <a href="index">Fruits</a>
            </li>
        </ul>
    </div>
</div>
