<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="index">Produits</a>
            </li>
            <li>
                <a href="ajout-edit">Catégories produits</a>
            </li>
            <li>
                <a href="ajout-edit">Clients</a>
            </li>
            <li>
                <a href="factures">Commandes</a>
            </li>
        </ul>
    </div>

</div>
